section.benefits 
    .container 
        .benefits__heading 
            h2.title-2 Why choose us?
        .benefits__row
            .benefits__item.benefit-item
                +benefit-1
                h4.benefit-item__title Performance
                p Torquem detraxit hosti et quidem se texit, ne ad.
            .benefits__item.benefit-item
                +benefit-2
                h4.benefit-item__title Entrepreneurship
                p Torquem detraxit hosti et quidem se texit, ne ad.
            .benefits__item.benefit-item
                +benefit-3
                h4.benefit-item__title Authenticity
                p Torquem detraxit hosti et quidem se texit, ne ad.
            .benefits__item.benefit-item
                +benefit-4
                h4.benefit-item__title Kindness
                p Torquem detraxit hosti et quidem se texit, ne ad.