section.contacts 
    .container 
        .contacts__info 
            h2.contacts__title.title-2.title-2--white Get experience from the expert
            .contacts__text
                p Quid ex eo ortum, tam inportuno tamque crudeli; sin, ut aliquid ex
            +btn('Contact Us', "button--white")