section.cta 
    .container 
        .cta__block 
            .cta__img 
                img(src="./img/cta/dashboard.jpg", alt="")
            .cta__text
                h2.cta__title.title-2.title-2--white Start using our product
                p Quid ex eo ortum, tam inportuno tamque crudeli; sin, ut aliquid ex
                .cta__buttons-row
                    +btn("Contact Us")
                    +button-orange("Watch now", "button--play")
