footer.footer 
    .container
        .footer__row
            .footer__info 
                .footer__logo
                    .logo
                        +logo
                        span CutSpace
                .footer__info-text 
                    p Quae fuerit causa, nollem me ab illo inventore veritatis et.
                .footer__socials
                    a(href="#")
                        +facebook 
                    a(href="#")  
                        +twitter 
                    a(href="#")  
                        +youtube 
                    a(href="#")
                        +linkedin        
            .footer__nav
                .footer__nav-block 
                    h4.footer__nav-block-title Privacy
                    ul
                        li  
                            a(href="#") Si sine causa
                        li  
                            a(href="#") Quae fuerit causa
                        li  
                            a(href="#") Certe, inquam
                        li  
                            a(href="#") Torquatos nostros? 
                .footer__nav-block 
                    h4.footer__nav-block-title Legal
                    ul
                        li  
                            a(href="#") Ut placet, inquam 
                        li  
                            a(href="#") Certe, inquam
                        li  
                            a(href="#") Et quidem rerum
                        li  
                            a(href="#") At vero eos et 
                .footer__nav-block 
                    h4.footer__nav-block-title Contact
                    ul
                        li  
                            a(href="#") Primum igitur
                        li  
                            a(href="#") Certe, inquam
                        li  
                            a(href="#") Quae fuerit causa 