header.header 
    .container 
        .header__row 
            .header__text 
                h1.header__title Find your custom matched commercial real estate space.
                p In oculis quidem exercitus quid ex ea consequatur? autem vel eum fugiat, quo pertineant ero tibique
                form.form(action="")
                    label.form__label 
                        input(type="text" placeholder="Your email address").form__input
                        +button-orange("Subscribe")
            .header__image
                img(src="./img/header/header-image.jpg", alt="Real estate space")
            