nav.nav 
    .container 
        .nav__row 
            .logo 
                +logo
                span CutSpace
            .navigation-list 
                ul 
                    li
                        a(href="#").active Home
                    li
                        a(href="#") About us
                    li
                        a(href="#") Find space
                    li
                        a(href="#") Share space
                    li
                        a(href="#") Promote space
