section.objects 
    .container.container--fluid.container--no-padding 
        .objects__row
            .objects__img 
                .img-card.img-card--rounded
                    img(src="./img/cards/01.jpg", alt="Image").img-card__img
                .img-card
                    img(src="./img/cards/02.jpg", alt="Image").img-card__img
                    .img-card__info
                        .card-info  
                            .card-info__icon 
                                +building
                            .card-info__text
                                h3.card-info__title Twelve West Lake
                                p Space for up to 150 people
            .objects__text
                h2.objects__title.title-2 We provide best space for you!
                p Quid ex eo ortum, tam inportuno tamque crudeli; sin, ut aliquid ex ea quid est et via procedat oratio quaerimus.
                p quid aut ad id omnia referri oporteat, ipsum autem nusquam hoc epicurus in ea commodi consequatur?
                .objects__button
                    +btn("Learn More")
                