section.serve 
    .container  
        .serve__heading 
            h2.title-2 Who do we serve?
            p Every buyer and seller of tech and services in the world.
        .serve__row
            a(href="#").card-client
                +buyers
                h3.card-client__title.title-2.title-2 Buyers
                .card-client__text
                    p Torquem detraxit hosti et quidem se texit, ne ad eam.
                p.button Get Started
            a(href="#").card-client
                +sellers
                h3.card-client__title.title-2 Seller
                .card-client__text
                    p Torquem detraxit hosti et quidem se texit, ne ad eam.
                p.button Get Started