section.testimonials 
    .container 
        .testimonials__heading
            .testimonials__title 
                h2.title-2 Thanks for your nice words to us
            .testimonials__subtitle
                p Si sine causa, nollem me tamen laudandis maioribus meis corrupisti nec voluptas
        .testimonials__row
           +card-testimonial('01.jpg', '"Omne animal, simul atque integre iudicante itaque earum motus et."', 'Arend Pellewever', 'Baltimore')
           +card-testimonial('02.jpg', '"In quo quaerimus, non emolumento aliquo, sed quia voluptas sit."', 'Leo Knight', 'Cleveland')
           +card-testimonial('03.jpg', '"Filium morte multavit si sine causa? quae fuerit causa, nollem."', 'Lisanne Viscaal', 'Lyon')

