.button {
  padding-left: 39px;
  padding-right: 39px;
  height: 58px;
  background-color: $accentColor;
  border-radius: 29px;

  color: $white;
  font-weight: 700;
  font-size: 16px;
  line-height: 58px;
  transition: background-color 0.2s ease-in;
  text-decoration: none;
  display: inline-block;

  &:hover {
    background-color: $accentColorHover;
  }

  &--white {
    background-color: #fff;
    color: $accentColor;
  }

  &--play {
    position: relative;
    padding-left: 49px;
    padding-right: 30px;
    background-color: #fff;
    color: $textColor;
    text-decoration: none;

    &::before {
      position: absolute;
      top: 24px;
      left: 30px;
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      background-image: url("./../img/icons/play.svg");
      background-repeat: no-repeat;
    }
  }
}

