extends ./../layouts/main.pug

block variables 
    - const title = "CutSpace"

block content
    include ./../sections/nav.pug
    include ./../sections/header.pug
    include ./../sections/clients.pug
    include ./../sections/objects.pug
    include ./../sections/cta.pug
    include ./../sections/serve.pug